{
  "name": "amits3sink",
  "config": {
    "connector.class": "io.confluent.connect.s3.S3SinkConnector",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "io.confluent.connect.avro.AvroConverter",
    "errors.log.enable": "true",
    "errors.log.include.messages": "true",
    "topics": "",
    "topics.regex": "[a-zA-Z]+",
    "format.class": "io.confluent.connect.s3.format.json.JsonFormat",
    "flush.size": "3",
    "schema.compatibility": "NONE",
    "s3.bucket.name": "lakeone",
    "s3.region": "ap-south-1",
    "aws.access.key.id": "$AWS_ACCESS_KEY_ID",
    "aws.secret.access.key": "$AWS_SECRET_KEY",
    "s3.ssea.name": "AES256",
    "storage.class": "io.confluent.connect.s3.storage.S3Storage",
    "value.converter.schema.registry.url": "${SCHEMA_REGISTRY_URL:-http://schema-registry:8081}",
    "value.converter.basic.auth.credentials.source": "$BASIC_AUTH_CREDENTIALS_SOURCE",
    "value.converter.schema.registry.basic.auth.user.info": "$SCHEMA_REGISTRY_BASIC_AUTH_USER_INFO",
    "schema.ignore": true
  }
}

