{
  "name": "jdbcmssql",
  "config": {  
    "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
	"connection.url" : "$DB_URL",
        "schema.pattern": "amit",
	"connection.user": "$DB_USER",
	"connection.password": "$DB_PASS",
	"mode": "$KAFKA_JDBC_MODE",
	"incrementing.column.name": "id", 
	"timestamp.column.name": "timestamp",
	"validate.non.null": "false",
	"table.types": "TABLE",
	"topic.prefix": "",
        "errors.log.enable": "false",
    "topic.creation.enable": "true",
    "topic.creation.default.replication.factor": 3,
	"topic.creation.default.partitions":1
  }
}
