{
  "name": "jdbcmssql",
  "config": {  
    "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
	"connection.url" : "$DB_URL",
	"connection.user": "$DB_USER",
	"connection.password": "$DB_PASS",
	"mode": "$KAFKA_JDBC_MODE",
	"table.whitelist": "Persons",
	"incrementing.column.name": "ID", 
	"timestamp.column.name": "timestamp",
	"validate.non.null": "false",
	"table.types": "TABLE",
	"topic.prefix": "",
    "topic.creation.enable": "true",
    "topic.creation.default.replication.factor" : 1,
	"topic.creation.default.partitions" :1
  }
}
